/* CSS Document */
body {
	backgroud-color: #efefef;
}
.card
{
	background-color: #FFD187;
	position: relative;
	width: 1000px;
	height: 400px;
	font-size: 26px;
	margin: 0 auto;
	padding-left: 25px;
}
.card-photo
{
	position: absolute;
	margin-top: 100px;
	width: 200px;
	height: 200px;
	display: block;
	outline: 2px solid #000000;
	box-shadow: 0px 10px 10px #000;
}
.text_block {
	position: absolute;
	padding-left: 15px;
	margin-top: 100px;
	left: 225px;
	width: 400px;
	height: 200px;
	display: block;
	outline: 2px solid #000000;
	box-shadow: 10px 10px 10px #000;
	font: 15px/1  Arial;
}
.name {
	
}