/* CSS Document */
body {
  height: 100%;
  width: 100%;
  background: url("images/blue-gradients.020-wh.jpg");
}
.card
{
	outline: 2px solid #000000;
	background-color:#2C1D61;
	position: relative;
	width: 1000px;
	height: 300px;
	font-size: 26px;
	margin: 0 auto;
	padding-left: 25px;
}
.card-photo
{
	position: absolute;
	margin-top: 50px;
	width: 200px;
	height: 200px;
	display: block;
	outline: 2px solid #000000;
	box-shadow: 0px 5px 5px #000;
}
.text_block {
	background-color: #C4B5FA;
	text-align: justify;
	position: absolute;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 50px;
	left: 225px;
	width: 400px;
	height: 200px;
	display: block;
	outline: 2px solid #000000;
	box-shadow: 5px 5px 10px #000;
	font: 15px/1  Arial;
	color: #150061;
}
.contacts{
	background-color: #C4B5FA;
	text-align:right;
	position: absolute;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
	margin-top: 50px;
	left: 650px;
	width: 300px;
	height: 200px;
	display: block;
	outline: 2px solid #000000;
	box-shadow: 5px 5px 10px #000;
	font: 20px/1.5  Arial;
	color: #150061;
}
.tableinfo{
	text-align:left;
}
.table{
	position: absolute;
	margin-top:15px;
}
.main_block{
	outline: 2px solid #000000;
	background: url("images/DARK_BLUE.PNG");
	position: relative;
	width: 1000px;
	height: 800px;
	font-size: 26px;
	margin:0 auto;
	padding-left: 25px;
}